body {
    font-family:Verdana, Geneva, Tahoma, sans-serifS;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 30px 20px;
}

#about {
    text-align: center;
    font-size: 20px;
}
#contact{
    margin-bottom: 80px;
}
#contact button{
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
}
#contact textarea{
    width: 183px;
    height: 15px;
}
#skills ul {
    text-align: center;
    font-weight: bold;
    color:#333;
}
#skills ul li {
    display: inline-block;
    text-align: center;
    margin: 0 10px; 
}
#Resume-form button{
    border-radius: 8px;
    padding: 10px;
    font-size: medium;
    background-color: black;
    color: white;
}

h2 {
    margin-top: 0;
    text-shadow: 10px 10px 5px #7e7e7e;
}

.project {
    margin-bottom: 30px;
}

.project img {
    width: 8%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0; 
}
